.container .row {
  margin-top: 30px;
}

.input-field > select {
  width: inherit;
  height: inherit;
  opacity: 1;
  pointer-events: inherit;
  position: relative;
  margin: 20px 0;
}

.input-field label.select-label {
  position: relative;
}

.App-products .col {
  display: inline-block;
  overflow: visible;
  padding: 0 0.3rem;
}
